<h1>Opret en ny konto til zealand connect</h1>
<p style="color: red;">{{errormsg}}</p>
<form action="/signup/zealand" method="post">
    <div>
        <label>Email:</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Opret bruger"/>
    </div>
</form>